[alias]
    lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate=full
	stoic = !git commit -m \"$(curl  https://stoicquotesapi.com/v1/api/quotes/random | jq '.body')\"
[init]
	defaultBranch = main
[user]
	email = nathaniel.joselson@gmail.com
